<!DOCTYPE html>
<html>
  <head ng-controller="myCtrlr">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/anchorScroll.js"></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body ng-app="myModule">
    <div ng-controller="myCtrlr">
        <button id="top" ng-click="scrollTo('bottom')">Goto to Bottom</button>
        <p>
        <b>What is Angular?</b>
        <br><br>
        Angular is a development platform, built on TypeScript. As a platform,
        Angular includes: A component-based framework for building scalable web
        applications.
        <br />
        A collection of well-integrated libraries that cover a wide variety of
        features, including routing, forms management, client-server
        communication, and more A suite of developer tools to help you develop,
        build, test, and update your code With Angular, you're taking advantage
        of a platform that can scale from single-developer projects to
        enterprise-level applications. Angular is designed to make updating as
        straightforward as possible, so take advantage of the latest
        developments with a minimum of effort. Best of all, the Angular
        ecosystem consists of a diverse group of over 1.7 million developers,
        library authors, and content creators.
        <br /><br />
        AngularJS is a discontinued free and open-source JavaScript-based web
        framework for developing single-page applications. It was maintained
        mainly by Google and a community of individuals and corporations. It
        aimed to simplify both the development and the testing of such
        applications by providing a framework for client-side
        model–view–controller (MVC) and model–view–viewmodel (MVVM)
        architectures, along with components commonly used in web applications
        and progressive web applications.
        <br /><br />
        AngularJS was used as the frontend of the MEAN stack, that consisted of
        MongoDB database, Express.js web application server framework, AngularJS
        itself (or Angular), and Node.js server runtime environment.
        <br /><br />
        The AngularJS framework worked by first reading the Hypertext Markup
        Language (HTML) page, which had additional custom HTML attributes
        embedded into it. Angular interpreted those attributes as directives to
        bind input or output parts of the page to a model that is represented by
        standard JavaScript variables. The values of those JavaScript variables
        could be manually set within the code or retrieved from static or
        dynamic JSON resources.
        <br /><br />
        AngularJS was built on the belief that declarative programming should be
        used to create user interfaces and connect software components, while
        imperative programming was better suited to defining an application's
        business logic.[7] The framework adapted and extended traditional HTML
        to present dynamic content through two-way data-binding that allowed for
        the automatic synchronization of models and views. As a result,
        AngularJS de-emphasized explicit Document Object Model (DOM)
        manipulation with the goal of improving testability and performance.
        <br /><br />
        AngularJS's design goals included:
        <br />
        to decouple DOM manipulation from application logic. The difficulty of
        this is dramatically affected by the way the code is structured.
        <br />
        to decouple the client side of an application from the server-side. This
        allows development work to progress in parallel and allows for reuse of
        both sides
        <br />
        to provide structure for the journey of building an application: from
        designing the UI, through writing the business logic, to testing
        <br />

        <br />to provide structure for the journey of building an application:
        from designing the UI, through writing the business logic, to testing
        <br /><br />
        Bootstrap The task performed by the AngularJS bootstrapper occurred in
        three phases[11] after the DOM has been loaded:
        <br /><br />
        Creation of a new Injector<br />
        Compilation of the directives that decorate the DOM<br />
        Linking of all directives to scope<br />
        AngularJS directives allowed the developer to specify custom and
        reusable HTML-like elements and attributes that define data bindings and
        the behavior of presentation components. Some of the most commonly used
        directives were:
        <br /><br />
        ng-animate<br />
        A module provides support for JavaScript, CSS3 transition and CSS3
        keyframe animation hooks within existing core and custom directives.
        Since ng-* attributes are not valid in HTML specifications, data-ng-*
        can also be used as a prefix. For example, both ng-app and data-ng-app
        are valid in AngularJS.
        <br />
        ng-app<br />
        Declares the root element of an AngularJS application, under which
        directives can be used to declare bindings and define behavior.
        ng-aria<br />
        A module for accessibility support of common ARIA attributes. ng-bind<br />
        Sets the text of a DOM element to the value of an expression. For
        example, <span ng-bind="name"></span> displays the value of ‘name’
        inside the span element. Any change to the variable ‘name’ in the
        application's scope reflect instantly in the DOM. ng-class<br />
        Conditionally apply a class, depending on the value of a boolean
        expression. ng-controller<br />
        Specifies a JavaScript controller class that evaluates HTML expressions.
        ng-if<br />
        Basic if statement directive that instantiates the following element if
        the conditions are true. When the condition is false, the element is
        removed from the DOM. When true, a clone of the compiled element is
        re-inserted. ng-init<br />
        Called once when the element is initialized. ng-model<br />
        Similar to ng-bind, but establishes a two-way data binding between the
        view and the scope. ng-model-options<br />
        Provides tuning for how model updates are done. ng-repeat<br />
        Instantiate an element once per item from a collection. ng-show &
        ng-hide<br />
        Conditionally show or hide an element, depending on the value of a
        boolean expression. Show and hide is achieved by setting the CSS display
        style. ng-switch<br />
        Conditionally instantiate one template from a set of choices, depending
        on the value of a selection expression. ng-view <br />
        The base directive responsible for handling routes[12] that resolve JSON
        before rendering templates driven by specified controllers.
      </p>
      <button id="bottom" ng-click="scrollTo('top')">Goto to Top</button>
    </div>
  </body>
</html>
