<!DOCTYPE html>
<html>
  <head ng-controller="myCtrlr">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CustomService</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/customService.js"></script>
    <script src="scripts/stringService.js"></script>
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body ng-app="myModule">
    <div ng-controller="myCtrlr">
      <table>
        <tr>
          <td>Your String</td>
          <td><input type="text" ng-model="input" /></td>
        </tr>
        <tr>
          <td>Result String</td>
          <td><input type="text" ng-model="output" /></td>
        </tr>
        <tr>
          <td></td>
          <td>
            <input
              type="button"
              ng-click="transformString(input)"
              value="Process String"
            />
          </td>
        </tr>
      </table>
    </div>
  </body>
</html>
