<!DOCTYPE html>
<html ng-app="myModule">
  <head ng-controller="myCtrlr">
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <script src="scripts/angular.min.js"></script>
    <script src="scripts/ngHideShow.js"></script>
    <script src="scripts/filters.js"></script>
    <link rel="stylesheet" href="css/styles.css">
  </head>
  <body>
    <div ng-controller="myCtrlr">
      <input type="checkbox" ng-model="hideSalary" />Hide Salary
      <!-- <input type="checkbox" ng-model="showSalary" />Show Salary -->
      <br /><br />
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Date of Birth </th>
                    <th>Role</th>
                    <th ng-hide="hideSalary">Salary</th>
                    <th ng-show="hideSalary">Salary</th>
                    <!-- <th ng-show="showSalary">Salary</th> -->
                    <th>City</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees">
                    <td>{{ employee.name | uppercase}}</td>
                    <td>{{ employee.dob | date : "dd MMM yyyy"}}</td>
                    <td>{{ employee.role | role}}</td>
                    <td ng-hide="hideSalary">{{ employee.salary | number : 2}}</td>
                    <td ng-show="hideSalary">{{ MASK_SALARY }}</td>
                    <!-- <td ng-show="showSalary">{{ employee.salary | number : 2}}</td> -->
                    <td>{{ employee.city}} </td>
                </tr>
            </tbody>
        </table>
    </div>
  </body>
</html>
