<h1>{{ hc.message }}</h1>
<div>The core features of AngularJS:</div>
<ul>
  <li>
    <b>Data-binding </b> - It is the automatic synchronization of data between
    model and view components.
  </li>
  <li>
    <b>Scope </b> - These are objects that refer to the model. They act as a
    glue between controller and view.
  </li>
  <li>
    <b>Controller </b> - These are JavaScript functions bound to a particular
    scope.
  </li>
  <li>
    <b>Services </b> - AngularJS comes with several built-in services such as
    $http to make a XMLHttpRequests. These are singleton objects which are
    instantiated only once in app.
  </li>
  <li>
    <b>Filters </b> - These select a subset of items from an array and returns a
    new array.
  </li>
  <li>
    <b>Directives </b> - Directives are markers on DOM elements such as
    elements, attributes, css, and more. These can be used to create custom HTML
    tags that serve as new, custom widgets. AngularJS has built-in directives
    such as ngBind, ngModel, etc.
  </li>
  <li>
    <b>Templates </b> - These are the rendered view with information from the
    controller and model. These can be a single file (such as index.html) or
    multiple views in one page using partials.
  </li>
  <li><b>Routing </b> - It is concept of switching views.</li>
  <li>
    <b>Deep Linking </b> - Deep linking allows to encode the state of
    application in the URL so that it can be bookmarked. The application can
    then be restored from the URL to the same state.
  </li>
  <li>
    <b>Dependency Injection </b> - AngularJS has a built-in dependency injection
    subsystem that helps the developer to create, understand, and test the
    applications easily.
  </li>
</ul>
