<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <connectionStrings>
        <add name="DBCS"
            connectionString="server=(local);database=test; integrated security-true"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <WebServices>
            <protocols>
                <add name="HttpGet" />
            </protocols>
        </WebServices>
    </system.web>

    <rewrite>
        <rules>
            <rule name="RewriteRules" stopProcessing="true">
            <match url=".*"/>  
            <conditions logicalGrouping="MatchAll">
                <add input="(REQUEST_FILENAME)" matchType="IsFile" negate="true" /> 
                <add input="(REQUEST_FILENAME)" matchType="IsDirectory" negate="true" /> 
                <add input="(REQUEST_URI)" pattern="^/(api)" negate="true" />
            </conditions>
            <action type="Rewrite" url="/index.html" />
            </rule>
        </rules>
    </rewrite>

</configuration>